# This file is just an example about what you might need to configure
# You need to create your own .env file and add your enviroment variables

# Port to use, it must be a number
PORT=3000 # <-- Default value

#If you want to use mongodb just complete these variables in your own .env file
  # String connection to use, replace `user` and `password` with your credentials
  MONGO_URL=mongodb://user:password@localhost:27017 # <-- String connection example

  # Name of the database you want to use
  MONGO_DB_NAME=deco_hogar
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
